<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Spam Classifier</title>
    <style>
        body{
            text-align: center;
        }
        button{
            color: aliceblue;
            background-color: black;
            width: 100px;
            height: 40px;
        }
    </style>
</head>
<body>
    <h1>Email Spam Classifier</h1>
    <div>
        <form method="POST" action="/predict">
    <textarea name="content" cols="60" rows="15" placeholder="Enter your email text here" autocomplete="off"">{{ email }}</textarea>
            <div>
                <button type="submit">
                    Submit
                </button>
                <button><a href="/">Reset</a></button>
            </div>
        </form>
    </div>
    <div>
        {% if prediction == 1 %}
        <h2 style="color: red;">Spam</h2>
        {% else %}
        <h2 style="color: green;">Not Spam</h2>
        {% endif %}
        <!-- <p id="display"> {{ prediction }}</p> -->
    </div>
</body>
</html>